In [3]:
import pandas as pd

In [5]:
vlan = pd.read_csv('/home/bijith/myRepo/python_snippets/telnyx_coding_test/test_vlans.csv',header=0)

In [6]:
vlan['taken'] = 0

In [7]:
vlan

    device_id  primary_port  vlan_id  taken
0           0             1        2      0
1           0             1        5      0
2           0             1        8      0
3           0             0        2      0
4           0             0        3      0
5           0             0        4      0
6           0             0        6      0
7           0             0        7      0
8           0             0        8      0
9           0             0       10      0
10          1             1        1      0
11          1             1        5      0
12          1             1        6      0
13          1             1        9      0
14          1             0        1      0
15          1             0        4      0
16          1             0        5      0
17          1             0        7      0
18          2             1        1      0
19          2             1        4      0
20          2             1       10      0

In [8]:
vlan[vlan.vlan_id==vlan.vlan_id.min()].dropna()

    device_id  primary_port  vlan_id  taken
10          1             1        1      0
14          1             0        1      0
18          2             1        1      0

In [9]:
primary_port=vlan[(vlan.vlan_id==vlan.vlan_id.min()) & (vlan.primary_port == 1) & (vlan.taken==0) ].dropna()

In [10]:
primary_port

    device_id  primary_port  vlan_id  taken
10          1             1        1      0
18          2             1        1      0

In [11]:
primary_port=primary_port[primary_port.device_id==primary_port.device_id.min()]

In [12]:
vlan.iloc[10].taken = 1

In [13]:
secondary_port=vlan[(vlan.vlan_id==vlan.vlan_id.min()) & (vlan.primary_port == 0) ].dropna()

In [14]:
secondary_port

    device_id  primary_port  vlan_id  taken
14          1             0        1      0

In [15]:
secondary_port[secondary_port.device_id==secondary_port.device_id.min()]

    device_id  primary_port  vlan_id  taken
14          1             0        1      0

In [16]:
requests = pd.read_csv('/home/bijith/myRepo/python_snippets/telnyx_coding_test/test_requests.csv',header=0)

In [17]:
requests

   request_id  redundant
0           0          1
1           1          0
2           2          1
3           3          0
4           4          1

In [19]:
out = pd.read_csv('/home/bijith/myRepo/python_snippets/telnyx_coding_test/test_output.csv',header=0)

In [20]:
out

   request_id  device_id  primary_port  vlan_id
0           0          1             0        1
1           0          1             1        1
2           1          2             1        1
3           2          0             0        2
4           2          0             1        2
5           3          2             1        4
6           4          1             0        5
7           4          1             1        5

In [21]:
outfile = '/home/bijith/myRepo/python_snippets/telnyx_coding_test/output_bijith.csv'

In [25]:
out_df = pd.DataFrame(columns = ['request_id', 'device_id', 'primary_port', 'vlan_id'])

In [42]:
out_df.append( [[0,1,0,1]], ignore_index=True)

/home/bijith/anaconda3/lib/python3.6/site-packages/pandas/core/indexes/api.py:77: RuntimeWarning: '<' not supported between instances of 'str' and 'int', sort order is undefined for incomparable objects
  result = result.union(other)

   request_id device_id primary_port vlan_id    0    1    2    3
0         NaN       NaN          NaN     NaN  0.0  1.0  0.0  1.0

In [41]:
out_df

Empty DataFrame
Columns: [request_id, device_id, primary_port, vlan_id]
Index: []